.footer {
  display: flex;
  align-items: center;
  place-content: space-between;
  width: 75%;
  margin: 0.2rem auto;
  color: #d6d6d6;

  img {
    width: 1rem;
    margin: 0 0.2rem;
  }

  p {
    margin: 0 0.2rem;
  }
}
