@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  color: #d6d6d6;

  .outline {
    color: transparent;
    -webkit-text-stroke: 0.8px #d6d6d6;
  }

  .main {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    .text {
      text-align: center;

      h1 {
        font-size: 2.3rem;
        color: #f58f7c;
      }

      .outline {
        color: transparent;
      }
    }

    .contact {
      padding: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      .button {
        width: 7rem;
        height: 7rem;
        border: 1px solid #d6d6d6;
        border-radius: 50%;
        margin-bottom: 1rem;
        padding: 0.2rem;
        position: relative;

        .text {
          width: 100%;
          -webkit-animation: spin 10s infinite linear;
        }

        .phone {
          width: 25%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .image {
      background: linear-gradient(
          0deg,
          rgba(44, 43, 48, 1) 0%,
          rgba(44, 43, 48, 0.5) 65%,
          rgba(44, 43, 48, 0) 100%
        ),
        url("../public/images/block_house.jpg");
      background-size: cover;
      width: calc(100% + 2rem);
      height: 30rem;
    }
  }

  .who {
    display: flex;
    align-items: center;
    flex-direction: column;

    .text {
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    h1 {
      font-size: 5rem;
    }
  }

  .work {
    padding: 2rem 0;
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .ready {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      font-size: 1.8rem;
      font-weight: normal;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      margin-bottom: 1rem;
    }

    button {
      padding: 0.8rem 2.2rem;
      background-color: transparent;
      border: 1px solid #d6d6d6;
      color: #d6d6d6;
    }
  }
}
